<router-outlet name = "nav"></router-outlet>
<div class="container">
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
        <div>
            <img [src] ="imageUrl"  alt="Avatar" class="img-fluid picture" id = "profilePicture">
         </div>
             
    </div>
    <div class="col-sm-6">
        <div style="margin-top: 50px;">
            <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: bolder;">{{name}}</h2>
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">mail : {{mail}}</p>
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">number: {{number}}</p>
        </div>
        <div class="col-sm-1"></div>
</div>
</div>

<div class="row" style="margin-top: 50px;">
    <div class="col-sm-2"></div>
    <div class="col-sm-8  shadow p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <form class="md-form" style="position: relative; left: 25px;">
                    <div class="file-field">
                      <div class="btn btn-primary btn-sm float-left">
                        <span>Upload Image</span>
                        <form enctype="multipart/form-data">
                        <input type="file" (change) = 'uploadImage($event)'>
                        </form>
                      </div>
                    </div>
                  </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row" style="margin-top: 25px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <p style="font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Personal Information</p>
            </div>
            <div class="col-sm-4"></div>
        </div>
        
        <div class="form-group">
            <label for="formGroupExampleInput">Name</label>
            <input type="text" name = "name" class="form-control" id="name" [(ngModel)] = 'user.name'>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Email</label>
            <input type="email" name = "email" class="form-control" id="mail" [(ngModel)] = 'user.email'>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Mobile Number</label>
            <input type="text" name="number" class="form-control" id="number" [(ngModel)] = 'user.mobileNumber'>
        </div>

        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <p style="font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Address Information</p>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Street 1</label>
            <input type="text" name = "street1" class="form-control"  [(ngModel)] = 'addressBooks.street1' id="street1">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Street 2</label>
            <input type="text" name = "street2" class="form-control"  [(ngModel)] = 'addressBooks.street2' id="street2" >
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Street 3</label>
            <input type="text" name = "street3" class="form-control"  [(ngModel)] = 'addressBooks.street3' id="street3">
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="formGroupExampleInput">city</label>
                    <input type="text" name="city" class="form-control"  [(ngModel)] = 'addressBooks.city' id="city" >
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="formGroupExampleInput">Country</label>
                    <input type="text" name="country" class="form-control"  [(ngModel)] = 'addressBooks.country' id="country">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="formGroupExampleInput">Zip</label>
                    <input type="text" name="zip" class="form-control"  [(ngModel)] = 'addressBooks.zip' id="zip">
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-8">
                <div class="form-check">
                    <input type="checkbox" (change) = "handleChange($event)" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Are you sure you want to save this changes?</label>
                  </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>

        <div class="row" style="margin-top: 25px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="form-check">
                    <button type="button" (click)="update()" class="btn btn-primary">Save updates</button>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>

        
        

    </div>
    <div class="col-sm-2"></div>
</div>

</div>
