<div class="row" style="position: relative; top: 150px;">
    <div class="col-4">
    </div>
    <div class="col-4">
        
    <div class="form-group">
        <label for="formGroupExampleInput2">Password</label>
        <input type="password" [(ngModel)] = "password1" class="form-control" id="number">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Confirm Password</label>
        <input type="password" [(ngModel)] = "password2" class="form-control" id="password">
    </div>
    <div>
        <button id = "save" (click) = "reset()" class="btn btn-success">Reset Password</button>
    </div>
    </div>
    <div class="col-4">
    </div>
</div>



